<h1>Statut du tama</h1>
<h3>Nom Tama: <%= @tama.name.to_s %></h3>
<h3>Sante: <%= @tama.health.to_s %></h3>
<h3>Mental: <%= @tama.mentalState.to_s %></h3>

<h4>Tama ne le : <%= @tama.BirthDate %> </h4>

