<h1> Main du programme principal le tama fonctionne ici </h1>

<p> <%= render partial: 'tamawindow', class: 'ajax' %> </p>

<ul>
    <li> NourrirTama</li>
    
    <li>SoignerTama</li>
    
    <li>NettoyerTama</li>
    
    <li>JouerTama</li>
    
</ul>
