<h1> Main du programme principal le tama fonctionne ici </h1>


<!-- Rendu partiel des etats du tamagotchi -->

<p> <%= render partial: 'tamawindow' %> </p>

<!-- Bouton du tamagotchi et actions correspondantes -->

<ul>
    <li>'NourrirTama'</li>
    
    <li>'SoignerTama'</li>
    
    <li>'NettoyerTama'</li>
    
    <li>'JouerTama'</li>
    
</ul>
