<h1>Page d'entree de la web app </h1>

<!-- Creation d'une page link to create_tama -->

<h3><%= link_to 'creaTama', :controller => 'tama',:action => 'creation_tama' %></h3>
<h3><%= link_to 'QuitterTama' , :controller => 'tama', :action => 'quit_tama' %></h3>
